<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog sobre Autismo</title>
</head>
<body>
    <header>
        <h1>Bienvenidos al Blog sobre Autismo</h1>
        <nav>
            <ul>
                <li><a href="{% url 'lista_posts' %}">Inicio</a></li>
                <li><a href="{% url 'crear_post' %}">Crear Post</a></li>
                <li><a href="{% url 'buscar_posts' %}">Buscar Posts</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>
